{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>INFO3180 PROJECT1</h1>
  </div>
</div>
<hr>
<h2>Flask Project</h2>
<hr>

<div class="container-fluid">
  <h1>Description of Project</h1>     
  <div class="row">
    <div class="col-sm-6" style="background-color:purple;">
      <p>This project is to test our skills with a variety of web development tools.</p>
      <p> We used Flask, JQuery, Bootstrap, HTML, CSS </p>
    </div>
  </div>
</div>

{% endblock %}

